* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html {
	scroll-behavior: smooth;
}

body{
  background-color: #E6E3E0;
	max-width: 100%; 
	margin: 0 auto;
  overflow-x: hidden;

}


@font-face {
	font-family: 'segoe';
	src: url(../fonts/Segoe.ttf)	;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  border: #E6E3E0 2px solid;
  border-radius: 25px;
  margin-top: -21px;
  margin-left: -104px;
  width: 200px;
  overflow: hidden;
  padding: 6px;
  transition: opacity 1s;
  height: 30px;
  pointer-events: none;
  z-index: 1;
}

#loading ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  white-space: no-wrap;
  width: 300px;
  animation: translate 1.5s infinite linear;
}

#loading li {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
}

#loading li:nth-child(1) {
  background: #B12634;
}

#loading li:nth-child(2) {
  background: #B08760;
}

#loading li:nth-child(3) {
  background: #1A1818;
}
#loading li:nth-child(4) {
  background: #C0B5B1;
}

@keyframes translate {
  0% {
    left: -100px;
  }
  100% {
    left: 110%
  }
}

#lefthalf {
  left: 0px;
  position: absolute;
  width: 65%;
  height: 100%;
  margin-left: -15%;
  background: rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  transition: background 1s linear 1s, left 2s 2s;
}

#righthalf {
  right: 0.6px;
  position: absolute;
  width: 65%;
  height: 100%;
  margin-right: -15%;
  background: rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  transition: background 1s linear 1s, right 2s 2s;
}

#bigloading {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  transition: background 1s 2s;
  pointer-events:none;
  z-index: 2;
 
}


#bigloading.ready #lefthalf {
  left: -100%;
  background: #B08760;
}

#bigloading.ready #righthalf {
  right: -100%;
  background: #C0B5B1;
}

#bigloading.ready #loading {
  opacity: 0;
}

#bigloading.ready {
  background: rgba(255, 255, 255, 0);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.nav-info {
  position: relative;
  top: 38px;
  left: 100px;
}
.nav-info ul {
  width: 350px;
  height: 25px;
  display: flex;
  justify-content: space-between;

}
.nav-info ul li {
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}
.nav-info ul li:hover {
  color: #B12634;
  transition: 400ms color ease;
}
.phone-number {
  font-family: 'segoe';
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;

}
.whatsapp {
  border-left: 2px solid #B12634;
  padding-left: 15px;
}
.app {
  font-family: 'segoe';
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.side-bar  {
  z-index: 2;
  background-color: white;
  width: 50px;
  height: 530px;
  position: absolute; 
  top: 0;
  right: 0;
}
.lines {
  width: 36px;
  height: 27px;
}

.line1 {
  position: relative;
  left: 22px;
  top: 45px;
  width: 5px;
  height: 29px;
  background-color: #B12634;
  transform:  rotate(90deg);
  border-radius: 20px;
}
.line2 {
  position: relative;
  left: 22px;
  top: 22px;
  width: 5px;
  height: 36px;
  background-color: #B12634;
  transform: rotate(90deg);
  border-radius: 20px;
}
.line3 {
  position: relative;
  left: 22px;
  bottom: 1.3px;
  width: 5px;
  height: 29px;
  background-color: #B12634;
  transform:  rotate(90deg);
  border-radius: 20px;
}
.dropbtn {
  position: relative;
  right: 1px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



.dropdown {
  position: relative;
  top: 110px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  width: 50px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  font-family: 'segoe';
  font-weight: bold;
  font-size: 14px;
  position: relative;
  right: 3px;
  color: #B08760;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #B12634;
}

.show {
  display: block;
}
.language {
text-decoration: none;
font-family: 'segoe';
font-weight: bold;
font-size: 14px;
position: absolute;
left: 12px;
bottom: 40px;
color: #B08760;
}
.language:hover {
  background-color: white;
}
.social {
  position: relative;
  top: 190px;
  left: 15px;
  display: flex;
  width: 22px;
  height: 60px;


}
.social li img {
  padding-bottom: 10px;
}
.container {
  position: absolute;
  top: 435px;
  left: 5px;
  transform: rotate(-90deg);

}
.toggle-btn {
  width: 40px;
  height: 19px;
  background: #C0B5B1;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
}
.toggle-btn > .inner-circle {
   position: relative;
   top: 2.4px;
   left: 2.5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.toggle-btn.active {
  background: #C0B5B1;

}
.toggle-btn.active > .inner-circle {

  margin-left: 19px;    
  width: 15px;
  height: 15px;
  transition: all 300ms ease-in-out;

}

.live-circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 2px;
  left: 2px;
  cursor: pointer;
}
.toggle-btn.active > .inner-circle > .live-circle {
  background-color: #B12634;
  transition: all 300ms ease-in-out;

}
.normal {
  letter-spacing: 1px;
  z-index: -1;
  position: absolute;
  top: 470px;
  left: 11px;
  font-family: 'segoe';
  font-size: 14px;
  font-weight: bold;
  color: #E6E3E0;
 
}

.toggle-btn.active::after {
  letter-spacing: 1px;
  z-index: 2;
  content: 'LIVE';
  font-size: 14px;
  font-family: 'segoe';
  font-weight: bold;
  position: absolute;
  transform: rotate(90deg);
  right: 40px;
  bottom: -1px;
}
.tohome {
  position: relative;
  top: 145px;
  left: 35px;
  display: flex;
  justify-content: flex-end;
  width: 198px;
  height: 83px;
}
.back {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 16px;
  font-weight: bold;
  font-family: 'segoe';
  width: 135px;
  height: 83px;
  border-left: 2px solid #B12634;
  cursor: pointer;
}
.back:hover {
  color: #B12634;
  transition: 400ms color ease;
}
.back::before {
  content: url('../images/Group952.png');
  position: absolute;
  left: 40px;
  top: 60px;
  cursor: pointer;

}
.home-image {
  z-index: -2;
  position: relative;
  left: 340px;
  bottom: 24px;
}
.weare {
  z-index: 1;
  width: 316px;
  height: 80px;
  position: absolute;
  color: white;
  font-weight: normal;
  left: 345px;
  bottom: 56px;
  font-size: 60px;
  font-family: 'segoe';
  display: flex;
 
 
}
.weare::after {
  content: 'MORE SPACE FOR YOURSELF';
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #B12634;
  top: 90px;
  left: 0;
  z-index: 1;
}
.weare::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1512px;
  height: 156px;
  background-color: #B08760;
  opacity: 0.8;
  top: 8px;
  left: -40px;
}
.text-content {
  width: 1744px;
  height: 457px;
  background-color: #FFF;
  position: relative;
  bottom: 27px;
  left: 0;
}
.project {
  font-size: 60px;
  color: #B08760;
  font-family: 'segoe';
  font-weight: normal;
  position: relative;
  left: 375px;
  top: 70px;
}
.left-text {
  width: 572px;
  height: 166px;
  font-size: 16px;
  font-family: 'segoe';
  position: relative;
  left: 375px;
  top: 100px;
}
.right-text {
  width: 572px;
  height: 166px;
  font-size: 16px;
  font-family: 'segoe';
  position: relative;
  left: 980px;
  bottom: 65.8px;
}
.meidani-img {
  z-index: -1;
  position: relative;
  left: 177px;
}
.Mspace {
  width: 176px;
  height: 17px;  
  position: absolute;
  left: 1416px;
  top: 750px;
  display: flex;
  z-index: 2;
}
.space-text {
font-size: 16px;
font-weight: bold;
font-family: 'segoe';
margin-top: 75px;
margin-left: 16px;
cursor: pointer;

}
.space-text:hover {
  color: #B12634;
  transition: 400ms;
}
.redline {
  border: 2px solid #B12634;
  height: 106px;

}
.image1 {
  position: absolute;
  top: 75px;
  right: 190px;
}
.numbers {
  width: 41px;
  height: 340px;
  position: absolute;
  top: 1034px;
  right: 78px;
}
.number-list li {
  z-index: 2;
  height: 30px;
  font-family: 'segoe';
  font-size: 30px;
  color: #C0B5B1;
  cursor: pointer;
  margin-bottom: 60px;
  padding-left: 5px;
}
.number-list li:hover {
  color: #B12634;
  transition: 500ms; 
}
.showtext1 {
  z-index: -1;
  position: absolute;
  right: -90px;
  top: -15px;
  width: 575px;
  height: 74px;
  line-height: 74px;
  background-color: white;
  opacity: 0.8;
  font-size: 30px;
  font-family: 'segoe';
  font-weight: normal;
  display: none;

}
.showtext1 p {
  margin-left: 84px;
}
.showtext2 {
  z-index: -1;
  position: absolute;
  right: -90px;
  top: 75px;
  width: 575px;
  height: 74px;
  line-height: 74px;
  background-color: white;
  opacity: 0.8;
  font-size: 30px;
  font-family: 'segoe';
  font-weight: normal;
  display: none;

}
.showtext2 p {
  margin-left: 84px;
}
.showtext3 {
  z-index: -1;
  position: absolute;
  right: -90px;
  top: 165px;
  width: 575px;
  height: 74px;
  line-height: 74px;
  background-color: white;
  opacity: 0.8;
  font-size: 30px;
  font-family: 'segoe';
  font-weight: normal;
  display: none;

}
.showtext3 p {
  margin-left: 84px;
}
.showtext4 {
  z-index: -1;
  position: absolute;
  right: -90px;
  top: 255px;
  width: 575px;
  height: 74px;
  line-height: 74px;
  background-color: white;
  opacity: 0.8;
  font-size: 30px;
  font-family: 'segoe';
  font-weight: normal;
  display: none;

}
.showtext4 p {
  margin-left: 84px;
}
.number-list li:hover + .showtext1 {
    display: block;

}
.number-list li:hover + .showtext2 {
    display: block;
    
}
.number-list li:hover + .showtext3 {
    display: block;
    
}
.number-list li:hover + .showtext4 {
    display: block;
    
}
.main-content {
  width: 1858px;
  height: 1555px;
  position: relative;
  left: 62px;
  bottom: 3px;
  z-index: 0;
  background-color: #FFF;

}
.number-list::after {
  content: '';
  position: absolute;
  width: 177px;
  height: 100px;
  background-color: #FFF;
  left: -37px;
  bottom: -238px;
}
.main-content::before {
  content: '';
  position: absolute;
  width: 115px;
  height: 100px;
  background-color: #FFF;
  top: -100px;
  left: 0px;
  z-index: -5;
}

.infra {
  margin: 0;
  width: 128px;
  margin-left: 5px;
  height: 21px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  top: 185px;
  left: 155px;
}
.infra:hover {
  color: #B12634;
  border-bottom: 4px solid #B12634;
  transition: 200ms ease-in-out;
}
.listitems {
  width: 1565px;
  height: 199px;
  border: 1px solid #707070;
  border-radius: 30px;
  position: relative;
  top: 226px;
  left: 113px;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; 
  margin-left: 50px;
  margin-right: 50px;
  }
  .content li img {
    
    height: 73px;
  }
  .content li {
    display: block;
    text-align: center;

  }
  .content li p {
    font-size: 16px;
    font-family: 'segoe';
    font-weight: bold;
    position: relative;
    top: 20px;
    cursor: pointer;
  }
  .content li p:hover {
    color: #B12634;
    transition: 400ms;
  }
  .mission {
      font-size: 60px;
  color: #B08760;
  font-family: 'segoe';
  font-weight: normal;
  position: relative;
  top: 336px;
  left: 160px;
  }
  .textleft {
    width: 725px;
    height: 132px;
    font-family: 'segoe';
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 372px;
    left: 154px;

  }
  .textright {
    width: 725px;
    height: 132px;
    font-family: 'segoe';
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 240px;
    left: 917px;

  }
.teamtext {
  margin: 0;
  width: 43px;
  margin-left: 5px;
  height: 21px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  top: 880px;
  left: 155px;
}
.teamtext:hover {
  color: #B12634;
  border-bottom: 2px solid #B12634;
  transition: 200ms ease-in-out;
}
.persons {
  left: 153px;
  width: 1705px;
  height: 500px;
  position: relative;
  top: 380px;
  overflow-x: scroll;
  z-index: -2;
 
}
.person-list {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;


}

.person-list p {
  font-size: 25px;
  font-weight: bold;
  font-family: 'segoe';
  margin-top: 10px;
  cursor: pointer;


}
.Li {
  margin-left: 40px;
  z-index: 0;
}

.person-list p:hover {
color: #B12634;
transition: 200ms ease-in-out;
}



.persons::-webkit-scrollbar {

  width: 2px;
}
 
.persons::-webkit-scrollbar-track {
  background-color:#C0B5B1;
  border-radius: 10px;
  border-top: 6px solid white;
    border-bottom: 6px solid white;
    border-right: 210px solid white;
  width: 2px;
}
 
.persons::-webkit-scrollbar-thumb {
  border-radius: 10px;
    -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  background-color:#B12634;
}
.cube {
  width: 418px;
  height: 370px
  border: 1px solid black;
  margin-left: 40px;
}
.person-list li img {
  cursor: pointer;
}

.mamuka:hover + .plus {
  cursor: pointer;
  display: block;

  
  
}


.irakli:hover + .plus2 {
  cursor: pointer;
  display: block;

  
}


.nino:hover + .plus3 {
  cursor: pointer;
  display: block;


}


.soso:hover + .plus4 {
  cursor: pointer;
  display: block;
 

}
.plus {

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  background-color: #B08760;
  width: 418px;
  height: 370px;
  opacity: 0.7;
  display: none;

}
.plus2 {
  position: absolute;
  left: 458px;
  top: 0px;
  z-index: 5;
  background-color: #B08760;
  width: 418px;
  height: 370px;
  opacity: 0.7;
  display: none;
}
.plus3 {
  position: absolute;
  left: 918px;
  top: 0px;
  z-index: 5;
  background-color: #B08760;
  width: 418px;
  height: 370px;
  opacity: 0.7;
  display: none;
}
.plus4 {
  position: absolute;
  left: 1377px;
  top: 0px;
  z-index: 5;
  background-color: #B08760;
  width: 418px;
  height: 370px;
  opacity: 0.7;
  display: none;
}
.plusimg {
  position: relative;
  top: 144px;
  left: 170px;
  opacity: 1;
}
.footer {
  position: relative;
  width: 1920px;
  height: 850px;

}
iframe {
position: absolute;
bottom: 350px;
left: 217px;
}
.mappointer {
  position: absolute;
  left: 685px;
  top: 85px;
}
.side-content {
  width: 328px;
  height: 350px;
  position: relative;
  left: 1440px;
  top: 55px;
}
.wolk {
  width: 170px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'segoe';
  color: #B12634;
  border-bottom: 2px solid #B12634;
  cursor: pointer;
}
.wcar {
  width: 112px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'segoe';
  color: #B12634;
  border-bottom: 2px solid #B12634;
  cursor: pointer;
}
.man {
  position: absolute;
  left: 185px;
  top: 5px;
}
.car  {
  margin-top: 55px;
}
.ccar {
  position: absolute;
  left: 125px;
  top: 205px;
}
.walking p {
  font-size: 16px;
  font-family: 'segoe';
  font-weight: normal;
}
.car p {
  font-size: 16px;
  font-family: 'segoe';
  font-weight: normal;
}
.walking span {
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold; 
  }
.car span {
    font-size: 16px;
  font-family: 'segoe';
  font-weight: bold; 
}
.get {
  position: absolute;
  bottom: -93px;
  width: 266px;
  height: 60px;
  background-color: #B12634;
  cursor: pointer;
}
.location {
  position: absolute;
  top: 17px;
  left: 45px; 
}
.gloc { 
  display: flex;
  justify-content: flex-end;
  width: 130px;
  height: 25px;
  border-left: 3px solid #B08760;
  border-radius: 1px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: normal;
  color: white;
  position: relative;
  left: 95px;
  top: 18px;
  line-height: 23px;
}
.gloc:hover {
  color: #B08760;
  transition: 300ms;
}
.subs {
  position: relative;
  left: 218px;
  top: 180px;
}
.subs h3 {
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  color: #B08760;
}
.subs p {
  font-size: 16px;
    font-family: 'segoe';
    font-weight: normal;
  }
.forms {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  height: 60px;
  width: 1490px;
}
.forms input {
  width: 418px;
  height: 57px;
}
input::placeholder {
  font-size: 16px;
  color: black;
  font-family: 'segoe';
  position: relative;
  left: 35px;
}

.submit {
  width: 113px;
  height: 60px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  color: white;
  background-color: #B08760;
  border: none;
  cursor: pointer;
}
.submit a {
  color: white;
}
.submit a:hover {
    color: #B08760;
  transition: 300ms color ease;
}
.submit:hover {
  background-color: #B12634;
  color: #B08760;
  transition: 300ms color ease;
}
.footer-contact {
  width: 1858px;
  height: 139px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
}

.sales {
    font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  color: #B08760;
  margin-right: 15px;
}
.nav-info2 {
  position: absolute;
  top: 20px;
  left: 338px;
}
.nav-info2 ul {
  width: 550px;
  height: 25px;
  display: flex;
  justify-content: space-between;

}
.nav-info2 ul li {
  display: flex;
  align-items: center;
  width: 400px;
  cursor: pointer;
}
.nav-info2 ul li:hover {
  color: #B12634;
  transition: 400ms color ease;
}
.address {
    position: relative;
  left: 215px;
  top: 42px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  color: #B12634;
}
.address span {
  color: black;
  font-weight: normal;
}
.moedani {
  position: relative;
  left: 215px;
  top: 60px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: normal;
}
.moedani span {
  margin-left: 10px;
  border-bottom: 1px solid black;
  height: 10px;
}
s {
  margin-left: 10px;
}
.follow {
  position: absolute;
  right: 281px;
  top: 45px;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  color: #B08760;
}
.soc-logos {
  position: absolute;
  right: 150px;
  top: 45px;
}
.web {
  font-size: 14px;
  font-family: 'segoe';
  font-weight: normal;
  position: absolute;
  right: 280px;
  bottom: 40px;
}
.connect {
  position: absolute;
  right: 150px;
  bottom: 40px;
}
.colors {
  width: 1858px;
  height: 14px;

  display: flex;
  position: absolute;
  bottom: 0;
}
.red {
  width: 465px;
  height: 14px;
  background-color: #B12634;
}
.gold {
  width: 465px;
  height: 14px;
  background-color: #B08760;
}
.black {
  width: 465px;
  height: 14px;
  background-color: #1A1818;
}
.silver {
  width: 465px;
  height: 14px;
  background-color: #C0B5B1;
}
.top {
  position: absolute;
  right: 0;
  top: 3940px;
  cursor: pointer;
}
.topb {
  color: black;
  font-size: 16px;
  font-family: 'segoe';
  font-weight: bold;
  position: absolute;
  right: 3px;
  bottom: 20px;

}
.topb:hover {
  color: #B12634;
  transition: 300ms color ease;
}
.arrowup {
  position: relative;
  right: 5px;
}