* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
html {
	scroll-behavior: smooth;
}

body{
  background-color: #E6E3E0;
	max-width: 1280px; 
	margin: 0 auto;
	overflow-x: hidden;
}

@font-face {
	font-family: 'segoe';
	src: url(../fonts/Segoe.ttf)	;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  border: #cacdd3 2px solid;
  border-radius: 25px;
  margin-top: -21px;
  margin-left: -104px;
  width: 200px;
  overflow: hidden;
  padding: 6px;
  transition: opacity 1s;
  height: 30px;
  pointer-events: none;
}

#loading ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  white-space: no-wrap;
  width: 300px;
  animation: translate 1.5s infinite linear;
}

#loading li {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
}

#loading li:nth-child(1) {
  background: #f5a6ac
}

#loading li:nth-child(2) {
  background: #fc6c77
}

#loading li:nth-child(3) {
  background: #fd4250
}


@keyframes translate {
  0% {
    left: -100px;
  }
  100% {
    left: 110%
  }
}

#lefthalf {
  left: 0px;
  position: absolute;
  width: 65%;
  height: 100%;
  margin-left: -15%;
  background: rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  transition: background 1s linear 1s, left 2s 2s;
}

#righthalf {
  right: 0.6px;
  position: absolute;
  width: 65%;
  height: 100%;
  margin-right: -15%;
  background: rgba(0, 0, 0, 0);
  transform: skewX(-21deg);
  transition: background 1s linear 1s, right 2s 2s;
}

#bigloading {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 1);
  transition: background 1s 2s;
  pointer-events:none;
}

#bigloading.ready #lefthalf {
  left: -100%;
  background: rgba(0, 0, 0, 0.8);
}

#bigloading.ready #righthalf {
  right: -100%;
  background: rgba(0, 0, 0, 0.8);
}

#bigloading.ready #loading {
  opacity: 0;
}

#bigloading.ready {
  background: rgba(255, 255, 255, 0);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.nav-info {
  position: relative;
  left: 100px;
}
.nav-info ul {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: space-between;

}
.nav-info ul li {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
}
.nav-info ul li:hover {
  color: #B12634;
  transition: 400ms color ease;
}
.phone-number {
  font-family: 'segoe';
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;

}
.whatsapp {
  border-left: 2px solid #B12634;
  padding-left: 15px;
}
.app {
  font-family: 'segoe';
  font-weight: bold;
  padding-left: 10px;
}
.side-bar  {
  z-index: -1;
  background-color: white;
  width: 50px;
  height: 530px;
  position: relative; 
  top: 235px;
  left: 465px;
}
.lines {
  width: 36px;
  height: 27px;
}

.line1 {
  position: relative;
  left: 22px;
  top: 10px;
  width: 5px;
  height: 29px;
  background-color: #B12634;
  transform:  rotate(90deg);
  border-radius: 20px;
}
.line2 {
  position: relative;
  left: 22px;
  bottom: 13px;
  width: 5px;
  height: 36px;
  background-color: #B12634;
  transform: rotate(90deg);
  border-radius: 20px;
}
.line3 {
  position: relative;
  left: 22px;
  bottom: 36.3px;
  width: 5px;
  height: 29px;
  background-color: #B12634;
  transform:  rotate(90deg);
  border-radius: 20px;
}
.dropbtn {
  position: relative;
  right: 1px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}



.dropdown {
  position: relative;
  top: 80px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  width: 50px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  font-family: 'segoe';
  font-weight: bold;
  font-size: 14px;
  position: relative;
  right: 3px;
  color: #B08760;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  color: #B12634;
}

.show {
  display: block;
}
.language {
text-decoration: none;
font-family: 'segoe';
font-weight: bold;
font-size: 14px;
position: absolute;
left: 12px;
bottom: 40px;
color: #B08760;
}
.language:hover {
  background-color: white;
}
.social {
  position: relative;
  top: 150px;
  left: 15px;
  display: flex;
  width: 22px;
  height: 60px;


}
.social li img {
  padding-bottom: 10px;
}
